.App-header {
  flex-direction: column;
  align-items: top;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: #282c34;
  padding-left: 20px;
}
.App-gridContainer {
  display: flex;
  flex-direction: row;
}
.DB-selectContainer {
  padding: 20px;
  font-size: calc(3px + 2vmin);
}
.DB-selectBox {
  margin-left: 10px;
}
.OBGrid-body {
  padding:20
}
.OBGrid-title {
  font-size: calc(8px + 2vmin);
  color: #282c34;
}
